<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rome Theatre</title>
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

    

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h4>Rome Theatre</h4>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        <%if(!username){%>
                            <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.location.href='/register'" data-wow-delay="0.45s">ลงชื่อเข้าใช้</button>
                            <%}else{%>
                                <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.location.href='/logout'" data-wow-delay="0.45s">ออกจากระบบ</button>
                                <%}%>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <a class="" href="/">หน้าหลัก</a>
                        </li>
    
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <a class="" href="/movie-list">ภาพยนตร์</a>
                        </li>
                        <%if(username){%>
                            <li class="wow fadeInDown" data-wow-delay="0.2s">
                                    <%if(username!="admin"){%>
                                <a class="" href="/user-profile"><%=username%></a>
                                <%}else{%>
                                    <a class="" href="/admin-index"><%=username%></a>
                                <%}%>
                            </li>
                            <%}%>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->


    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">

                <div class="blog-asside-right col-md-2">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">เมนู</h3>
                        </div>
                        <div class="panel-body text-widget footer-menu">
                            <li>
                                <a href="/admin-allmovie">ภาพยนตร์ทั้งหมด</a>
                            </li>
                            <li>
                                <a href="/admin-editmovie">เพิ่มภาพยนตร์</a>
                            </li>
                            <li>
                                <a href="/admin-allbranch">แก้ไขรอบฉายทั้งหมด</a>
                            </li>

                        </div>
                    </div>



                </div>

                <div class="blog-lst col-md-10 p0 profiel-container">
                    <div class="profiel-header">
                        <h3>
                            <%if(movies.length<1){%>
                                เพิ่มภาพยนตร์
                                <%}else{%>
                                    แก้ไขข้อมูลภาพยนตร์
                                    <%}%>
                        </h3>
                        <hr>
                    </div>
                    <%if(movies.length<1){%>
                            <form method='POST' action='/admin-editmovie' enctype="multipart/form-data">
                            <%}else{%>
                                <form method='POST' action='/admin-editmovie/<%=movies._id%>' >
                                <%}%>
                    

                        <div class="clear">

                            <div class="col-sm-4 padding-top-25">
                                <div class="form-group">
                                    <label>ชื่อเรื่องภาษาไทย</label>
                                    <input name="title_th" type="text" class="form-control" 
                                    <%if(movies.length>1){%>
                                        value =<%=movies.title_th.toString().replace(/ /gi,"")%>
                                    <%}%>
                                    >
                                </div>
                                <div class="form-group">
                                    <label>ชื่อเรื่องภาษาอังกฤษ</label>
                                    <input name="title_eng" type="text" class="form-control"
                                    <%if(movies.length>1){%>
                                        value =<%=movies.title_eng.toString().replace(/ /gi,"")%>
                                    <%}%>
                                    >
                                </div>
                                <hr>
                                <div class="col-md-15">
                                    <label>ประเภท</label>
                                    <br>
                                    <select class="scrollpicker" name="type"/>
                                    <%if(movies.length>1){%>
                                        <option <%if(movies.type === 'Action'){%> selected <%}%>>Action</option>
                                        <option <%if(movies.type === 'Adventure'){%> selected <%}%>>Adventure</option>
                                        <option <%if(movies.type === 'War'){%> selected <%}%>>War</option>
                                        <option <%if(movies.type === 'Drama'){%> selected <%}%>>Drama</option>
                                        <option <%if(movies.type === 'Sci-Fi'){%> selected <%}%>>Sci-Fi</option>
                                        <option <%if(movies.type === 'Family'){%> selected <%}%>>Family</option>
                                        <option <%if(movies.type === 'Thriller'){%> selected <%}%>>Thriller</option>
                                        <option <%if(movies.type === 'Crime'){%> selected <%}%>>Crime</option>
                                        <option <%if(movies.type === 'Documentaries'){%> selected <%}%>>Documentaries</option>
                                        <option <%if(movies.type === 'Animation'){%> selected <%}%>>Animation</option>
                                        <option <%if(movies.type === 'Comedy'){%> selected <%}%>>Comedy</option>
                                        <option <%if(movies.type === 'Erotic'){%> selected <%}%>>Erotic</option>
                                        <option <%if(movies.type === 'Fantasy'){%> selected <%}%> >Fantasy</option>
                                        <option <%if(movies.type === 'Romantic'){%> selected <%}%>>Romantic</option>
                                        <option <%if(movies.type === 'Horror'){%> selected <%}%>>Horror</option>
                                        <option <%if(movies.type === 'อื่นๆ'){%> selected <%}%>>อื่นๆ</option>
                                        <%}else{%>
                                            <option>Action</option>
                                            <option>Adventure</option>
                                            <option>War</option>
                                            <option>Drama</option>
                                            <option>Sci-Fi</option>
                                            <option>Family</option>
                                            <option>Thriller</option>
                                            <option>Crime</option>
                                            <option>Documentaries</option>
                                            <option>Animation</option>
                                            <option>Comedy</option>
                                            <option>Erotic</option>
                                            <option>Fantasy</option>
                                            <option>Romantic</option>
                                            <option>Horror</option>
                                            <option>อื่นๆ</option>
                                            <%}%>   
                                    </select>
                                </div>

                                <div class="form-group">
                                    <br>
                                    <label>ความยาว (นาที)</label>
                                    <input type="text" class="form-control" name="length"
                                    <%if(movies.length>1){%>
                                        value =<%=movies.length.toString().replace(/ /gi,"")%>
                                    <%}%>
                                    >
                                </div>


                            </div>

                            <div class="col-sm-4 padding-top-25">
                                <div class="form-group">
                                    <label>ชื่อผู้กำกับ</label>
                                    <input type="text" class="form-control" name="director"
                                    <%if(movies.length>1){%>
                                        value =<%=movies.director.toString().replace(/ /gi,"")%>
                                    <%}%>
                                        >
                                </div>
                                <div class="form-group">
                                    <label>นักแสดงนำ</label>
                                    <input type="text" class="form-control" name="actor"
                                    <%if(movies.length>1){%>
                                        value =<%=movies.actor.toString().replace(/ /gi,"")%>
                                    <%}%>
                                    >
                                </div>
                                <hr>
                                <div class="col-md-15">
                                    <label>เรท</label>
                                    <br>
                                    <select id="lunchBegins" class="scrollpicker" name="rate">
                                        <%if(movies.length>1){%>
                                        <option<%if(movies.rate.toString().replace(/ /gi,"") === 'ททั่วไป'){%> selected <%}%>>ท ทั่วไป</option>
                                        <option<%if(movies.rate.toString().replace(/ /gi,"") === 'สส่งเสริม'){%> selected <%}%>>ส ส่งเสริม</option>
                                        <option<%if(movies.rate.toString().replace(/ /gi,"") === 'น13+'){%> selected <%}%>>น 13+</option>
                                        <option<%if(movies.rate.toString().replace(/ /gi,"") === 'น15+'){%> selected <%}%>>น 15+</option>
                                        <option<%if(movies.rate.toString().replace(/ /gi,"") === 'น18+'){%> selected <%}%>>น 18+</option>
                                        <option<%if(movies.rate.toString().replace(/ /gi,"") === 'ฉ20-'){%> selected <%}%>>ฉ 20-</option>
                                        <%}else{%>
                                            <option>ท ทั่วไป</option>
                                            <option>ส ส่งเสริม</option>
                                            <option>น 13+</option>
                                            <option>น 15+</option>
                                            <option>น 18+</option>
                                            <option>ฉ 20-</option>

                                         <%}%>   
                                    </select>
                                    
                                </div>
                                <br>
                                <label>วันที่เข้าฉาย</label>
                                <%if(movies.length>1){%>
                                    <%=movies.startdate.toString().substring(0,15)%>
                                    <%}else{%>
                                <input type="date" class="form-control" name="startdate">
                                <%}%>

                                <div class="form-group">
                                    <br>
                                    <label>ตัวอย่างภาพยนตร์</label>
                                    <input type="text" class="form-control" placeholder="http://" name="trailer"
                                    <%if(movies.length>1){%>
                                        value =<%=movies.trailer.toString().replace(/ /gi,"")%>
                                    <%}%>
                                    >
                                </div>
                            </div>
                            <div class="col-sm-3">
                                  
                                    <%if(movies.length>1){%>
                            
                                                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            
                                                    <div class="panel-body recent-property-widget">
                                                        <img src="img/<%=movies.poster.replace(/"/gi,"")%>" >
                                                    </div>
                                                </div>
                                    <%}%>
                                            
                                        </div>
                        
                        

                        <div class="clear">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>เรื่องย่อ</label>
                                    <input name="synopsis" type="text" class="form-control"<%if(movies.length>1){%>
                                        value =<%=movies.synopsis.toString().replace(/ /gi,"")%>
                                    <%}%>
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                                <%if(movies.length<1){%>
                                โปสเตอร์
                              <input type='file' name='myimage' value='browse' placeholder="browse" />
                            <%}%>
                            <br>
                            <input type='submit' class='btn btn-finish btn-primary' value='save' />
                        </div>
                </div>
            </div>
        </form>
        </div>
    </div>

    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เกี่ยวกับเรา</h4>
                            <div class="footer-title-line"></div>
                            <p>โปรเจ็คโรงภาพยนตร์ วิชา SE</p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เมนูลัด </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li>
                                    <a href="/movie-list">ภาพยนตร์</a>
                                </li>
                                <li>
                                    <a href="#">รอบฉาย</a>
                                </li>
                                <li>
                                        <a href="/logout">ออกจากระบบ</a>
                                    </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated ">
                        <div class="single-footer">
                            <h4>ติดต่อเรา</h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-adress">
                                <li>
                                    <i class="pe-7s-map-marker strong"> </i>254 แขวงวังใหม่ เขตปทุมวัน กทม. 10330</li>
                                <li>
                                    <i class="pe-7s-mail strong"> </i>rometheatre@gmail.com</li>
                                <li>
                                    <i class="pe-7s-call strong"> </i>+66 850 000 000</li>
                            </ul>
                            <br>

                            <div class="social pull-left">
                                <ul>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/modernizr-2.6.2.min.js"></script>

    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.js"></script>

    <script src="assets/js/easypiechart.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>

    <script src="assets/js/icheck.min.js"></script>
    <script src="assets/js/price-range.js"></script>

    <script src="assets/js/main.js"></script>

</body>

</html>