<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rome Theatre | Movie</title>
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>





    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/wizard.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <link rel="stylesheet" href="jquery.seat-charts.css">


    <style>
        .demo {
            width: 600px;
            margin: 0px auto 0 auto;
            min-height: 400px;

        }

        @media screen and (max-width: 500px) {
            .demo {
                width: 300px;
            }

        }

        .front {
            width: 270px;
            margin-bottom: 32px;
            background-color: #f0f0f0;
            color: #666;
            text-align: center;
            padding: 1px;
            border-radius: 5px;
        }

        .booking-details {
            float: left;
            position: relative;
            width: 200px;
            height: 400px;
            padding-left: 40px;
        }

        .booking-details h3 {
            margin: 5px 5px 0 0;
            font-size: 16px;
        }

        .booking-details p {
            line-height: 26px;
            font-size: 16px;
            color: #999
        }

        .booking-details p span {
            color: #666
        }

        div.seatCharts-cell {
            color: #182C4E;
            height: 25px;
            width: 25px;
            line-height: 25px;
            margin: 2px;
            float: left;
            text-align: center;
            outline: none;
            font-size: 13px;
        }

        div.seatCharts-seat {
            color: #fff;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        div.seatCharts-row {
            height: 35px;
        }

        div.seatCharts-seat.available {
            background-color: #B9DEA0;
        }

        div.seatCharts-seat.focused {
            background-color: #76B474;
            border: none;
        }

        div.seatCharts-seat.selected {
            background-color: #E6CAC4;
        }

        div.seatCharts-seat.unavailable {
            background-color: #472B34;
            cursor: not-allowed;
        }

        div.seatCharts-container {

            width: 400px;
            padding: 20px;
            float: left;
        }

        div.seatCharts-legend {
            padding-left: 0px;

            bottom: 16px;
        }

        ul.seatCharts-legendList {
            padding-left: 0px;
        }

        .seatCharts-legendItem {
            float: left;
            width: 90px;
            margin-top: 10px;

        }

        span.seatCharts-legendDescription {
            margin-left: 5px;

        }

        .checkout-button {
            display: block;
            width: 80px;
            height: 24px;
            line-height: 20px;
            margin: 10px auto;
            border: 1px solid #999;
            font-size: 14px;
            cursor: pointer
        }

        #selected-seats {
            max-height: 100px;
            overflow-y: auto;
            overflow-x: none;
            width: 220px;
        }

        #selected-seats li {
            float: left;
            width: 72px;
            height: 26px;
            line-height: 26px;
            border: 1px solid #d3d3d3;
            background: #f7f7f7;
            margin: 1px;
            font-size: 14px;
            font-weight: bold;
            text-align: center
        }
    </style>
</head>

<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h4>Rome Theatre</h4>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('register.html')" data-wow-delay="0.45s">ลงชื่อเข้าใช้</button>
                    <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('#')" data-wow-delay="0.48s">รอบฉาย</button>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="wow fadeInDown" data-wow-delay="0.2s">
                        <a class="" href="index.html">หน้าหลัก</a>
                    </li>

                    <li class="wow fadeInDown" data-wow-delay="0.2s">
                        <a class="" href="movie-list.html">ภาพยนตร์</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->



    <!-- property area -->
    <div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
        <div class="container">
            <div class="clearfix">
                <div class="wizard-container">

                    <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                        <form action="" method="">

                            <ul>
                                <li>
                                    <a href="step1" data-toggle="tab">เลือกรอบฉาย</a>
                                </li>
                                <li>
                                    <a href="step2" data-toggle="tab">เลือกที่นั่ง</a>
                                </li>
                                <li>
                                    <a href="step3" data-toggle="tab">การชำระเงิน</a>
                                </li>
                                <li>
                                    <a href="step4" data-toggle="tab">เสร็จสิ้น</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane" id="step1">
                                    <div class="row p-b-15 ">

                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="proerty-th ">
                                                <div class="box-two  proerty-item">
                                                    <div class="item-thumb">
                                                        <a href="/movie-item/<%=movie._id%>">
                                                            <img src="img/<%=movie.poster.replace(/"/gi, "")%>" >
                                                        </a>
                                                    </div>
                                                    <div class="item-entry overflow">
                                                        <h5>
                                                            <a href="/movie-item/<%=movie._id%>">
                                                                <%=movie.title_eng%>
                                                            </a>
                                                        </h5>
                                                        <div class="dot-hr"></div>
                                                        <span class="pull-left">
                                                            <%=movie.title_th%>
                                                        </span>
                                                        <span class="proerty-price pull-right">
                                                            <%=movie.length%> นาที</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-7">
                                            <div class="col-sm-11 padding-top-40">
                                                <form action="" class=" form-inline">

                                                    <div class="col-md-5">
                                                        <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="เลือกสาขา">

                                                            <option>สถานที่ 1</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="เลือกภาพยนตร์">

                                                            <option>หนัง 1</option>

                                                        </select>

                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="search-btn" type="submit" data-wow-delay="0.45s">รอบฉาย</button>
                                                    </div>
                                                </form>
                                            </div>


                                            <div class="col-sm-11 panel-group padding-top-25">


                                                <div class="panel panel-default">
                                                   

                                                        <div class="panel-heading">
                                                            <h4 class="panel-title  fqa-title">
                                                                
                                                            </h4>
                                                        </div>
                                                        
                                                           
                                                                <div class=" fqa-body panel-body">
                                                                    <a class="btn btn-primary btn-next ">
                                                                       
                                                                    </a>
                                                                </div>

                                                              
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  End step 1 -->

                                <div class="tab-pane" id="step2">
                                    <h4 class="info-text"></h4>
                                    <div class="row">
                                        <div class="blog-lst col-md-10 p0 col-sm-offset-2">
                                            <div class="col-sm-10 text-center ">
                                                <div class="col-sm-6 box-two  proerty-item ">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            ชื่อภาพยนตร์
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5>
                                                            <%=movie.title_th%>
                                                        </h5>

                                                    </div>


                                                </div>
                                                <!--  -->
                                                <div class="col-sm-6 box-two margin-30 proerty-item ">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            เวลา
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5></h5>

                                                    </div>


                                                </div>
                                                <!--  -->

                                            </div>


                                        </div>

                                        <div class="demo">

                                            <div id="seat-map">
                                                <div class="front">หน้าจอ</div>
                                            </div>


                                            <div class="booking-details padding-top-40">

                                                <p>โรงภาพยนตร์:
                                                    <b>
                                                        <span>3</span>
                                                    </b>
                                                </p>

                                                <p>เลขที่นั่ง: </p>
                                                <ul id="selected-seats"></ul>

                                                <p>รวม:
                                                    <b>
                                                        <span id="total">0</span> บาท
                                                    </b>
                                                </p>

                                                <a class="btn btn-primary btn-next ">ซื้อบัตร</a>




                                            </div>


                                            <div style="clear:both"></div>
                                        </div>
                                        <!-- !-->
                                        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
                                        <script src="assets/js/jquery.seat-charts.js"></script>
                                        
                                        <script>var price = 100; //price
                                       
                                            $(document).ready(function () {
                                                var $cart = $('#selected-seats'), //Sitting Area
                                                    $counter = $('#counter'), //Votes
                                                    $total = $('#total'); //Total money

                                                var sc = $('#seat-map').seatCharts({
                                                    map: [  //Seating chart
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa',
                                                        'aaaaaaaa'
                                                    ],
                                                    naming: {
                                                        top: false,
                                                        getLabel: function (character, row, column) {
                                                            return column;
                                                        }
                                                    },
                                                    legend: { //Definition legend
                                                        node: $('#legend'),
                                                        items: [
                                                            ['a', 'available', 'ว่าง'],
                                                            ['a', 'unavailable', 'ไม่ว่าง']
                                                        ]
                                                    },
                                                    click: function () { //Click event
                                                        if (this.status() == 'available') { //optional seat
                                                            $('<li>R' + (this.settings.row + 1) + ' S' + this.settings.label + '</li>')
                                                                .attr('id', 'cart-item-' + this.settings.id)
                                                                .data('seatId', this.settings.id)
                                                                .appendTo($cart);

                                                            $counter.text(sc.find('selected').length + 1);
                                                            $total.text(recalculateTotal(sc) + price);

                                                            return 'selected';
                                                        } else if (this.status() == 'selected') { //Checked
                                                            //Update Number
                                                            $counter.text(sc.find('selected').length - 1);
                                                            //update totalnum
                                                            $total.text(recalculateTotal(sc) - price);

                                                            //Delete reservation
                                                            $('#cart-item-' + this.settings.id).remove();
                                                            //optional
                                                            return 'available';
                                                        } else if (this.status() == 'unavailable') { //sold
                                                            return 'unavailable';
                                                        } else {
                                                            return this.style();
                                                        }
                                                    }
                                                });
                                                //sold seat
                                                sc.get().status('unavailable');

                                            });
                                            //sum total money
                                            function recalculateTotal(sc) {
                                                var total = 0;
                                                sc.find('selected').each(function () {
                                                    total += price;
                                                });

                                                return total;
                                            }</script>

                                    </div>
                                </div>
                                <!-- End step 2 -->

                                <div class="tab-pane" id="step3">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- CREDIT CARD FORM STARTS HERE -->
                                            <div class="panel panel-default credit-card-box">
                                                <div class="panel-heading display-table">
                                                    <div class="row display-tr">

                                                        <div class="display-td">
                                                            <h4 class="panel-title-payment pull-left">การชำระเงิน</h4>
                                                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label for="couponCode">NAME ON CARD</label>
                                                                    <input type="text" class="form-control" name="nameoncard" placeholder="Name" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label for="cardNumber">CARD NUMBER</label>
                                                                    <div class="input-group">
                                                                        <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required
                                                                            autofocus />
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-credit-card"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-7 col-md-7">
                                                                <div class="form-group">
                                                                    <label for="cardExpiry">
                                                                        <span class="hidden-xs">EXPIRATION</span>
                                                                        <span class="visible-xs-inline">EXP</span> DATE</label>
                                                                    <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-5 col-md-5 pull-right">
                                                                <div class="form-group">
                                                                    <label for="cardCVC">CV CODE</label>
                                                                    <input type="tel" class="form-control" name="cardsecure" placeholder="CV CODE" autocomplete="cc-csc" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <button class="btn btn-success btn-next btn-lg btn-block" type="button">ยืนยันการซื้อ (120 บาท)</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <!-- CREDIT CARD FORM ENDS HERE -->
                                        </div>
                                    </div>
                                </div>
                                <!--  End step 3 -->


                                <div class="tab-pane" id="step4">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="proerty-th ">
                                                <div class="box-two  proerty-item">
                                                    <div class="item-thumb">
                                                        <a href="/movie-item">
                                                            <img src="assets/img/demo/property-1.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="item-entry overflow">
                                                        <h5>
                                                            <a href="/movie-item">La La Land </a>
                                                        </h5>
                                                        <div class="dot-hr"></div>
                                                        <span class="pull-left">
                                                            <b>Genre :</b> Romantic </span>
                                                        <span class="proerty-price pull-right">120 mins.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="col-sm-11 text-left page-title  padding-top-25">

                                                <h2>
                                                    <i class="fa fa-map-marker"></i> สาขา</h2>

                                            </div>
                                            <div class="col-sm-11 text-center padding-top-25">
                                                <div class="col-sm-6 box-two  proerty-item ">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            โรงภาพยนตร์
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5>3</h5>

                                                    </div>


                                                </div>
                                                <!--  -->
                                                <div class="col-sm-6 box-two margin-30 proerty-item ">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            เลขที่นั่ง
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5>E10</h5>

                                                    </div>


                                                </div>
                                                <!--  -->

                                            </div>

                                            <div class="col-sm-11 text-center  padding-top-25">
                                                <div class="col-sm-4 box-two  proerty-item ">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            วันที่
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5>1 ธันวาคม 2560</h5>

                                                    </div>


                                                </div>
                                                <!--  -->
                                                <div class="col-sm-4 box-two  proerty-item ">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            เวลา
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5>12:20</h5>

                                                    </div>


                                                </div>
                                                <!--  -->
                                                <div class="col-sm-4 box-two proerty-item">
                                                    <div class="item-entry overflow">
                                                        <h4>
                                                            ราคา
                                                        </h4>
                                                        <div class="dot-hr"></div>
                                                        <h5>120 บาท</h5>

                                                    </div>


                                                </div>
                                                <!--  -->
                                                <div class="col-sm-11  padding-top-25">

                                                    <h3>QR CODE</h3>


                                                    <div class="picture">
                                                        <img src="assets/img/default-property.jpg" />

                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!--  End step 4 -->

                            </div>

                            <div class="wizard-footer">
                                <div class="pull-right">



                                    <input type='button' class='btn btn-finish btn-primary ' name='finish' value='เสร็จสิ้น' />
                                </div>

                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-default' name='previous' value='ย้อนกลับ' />
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- End submit form -->
        </div>
    </div>



    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เกี่ยวกับเรา</h4>
                            <div class="footer-title-line"></div>
                            <p>โปรเจ็คโรงภาพยนตร์ วิชา SE</p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เมนูลัด </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li>
                                    <a href="/movie-list">ภาพยนตร์</a>
                                </li>
                                <%if(!username){%>
                                    <li>
                                            <a href="/register/payment">ลงชื่อเข้าใช้</a>
                                    </li>
                                <%}else{%>
                                    <li>
                                            <a href="/logout">ออกจากระบบ</a>
                                    </li>

                                <%}%>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated ">
                        <div class="single-footer">
                            <h4>ติดต่อเรา</h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-adress">
                                <li>
                                    <i class="pe-7s-map-marker strong"> </i>254 แขวงวังใหม่ เขตปทุมวัน กทม. 10330</li>
                                <li>
                                    <i class="pe-7s-mail strong"> </i>rometheatre@gmail.com</li>
                                <li>
                                    <i class="pe-7s-call strong"> </i>+66 850 000 000</li>
                            </ul>
                            <br>

                            <div class="social pull-left">
                                <ul>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="assets/js/easypiechart.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/icheck.min.js"></script>
    <script src="assets/js/price-range.js"></script>
    <script src="assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/wizard.js"></script>


    <script src="assets/js/main.js"></script>


</body>

</html>